/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2018, 6:25:23 PM
    Author     : prem
*/


.root {
    -fx-background-color:transparent;
}

.button, .tab {
    -fx-background-color:transparent;
}

.tab:selected, .util-bar {
    -fx-background-color:#0088ff44;
}

.button:hover, .tab:hover {
    -fx-background-color:#0088ff88;
}

.button:pressed, .tab:hover {
    -fx-background-color:#0088ffff;
}

.close-button {
    -fx-background-color:transparent;
}

.close-button:hover {
    -fx-background-color:#ff000088;
}

.close-button:pressed {
    -fx-background-color:red;
}

.window-button {
    -fx-background-color:transparent;
}

.window-button:hover {
    -fx-background-color:#00000022;
}

.window-button:pressed {
    -fx-background-color:#00000044;
}

.root {
    -fx-border-color:blue;
    -fx-border-width:1;
}

.text-input {
    -fx-background-color:derive(white, -10%);
    -fx-border-color:derive(white, -15%);
    -fx-border-width:2;
}

.omnibar {
    -fx-background-color:transparent;
    -fx-border-color:white;
    -fx-border-width:1;
}

.omnibar:hover {
    -fx-background-color:#ffffff88;
}

.omnibar:focused {
    -fx-background-color:white;
}

.omnibar:pressed {
    -fx-background-color:white;
}

.combo-box, .choice-box {
    -fx-background-color:transparent;
}

.background {
    -fx-background-color:transparent;
}

.combo-box:hover, .choice-box:hover {
    -fx-background-color:derive(white, -5%);
}

.combo-box-popup .list-view, .combo-box-popup * {
    -fx-background-color:derive(white, -5%);
}